/* ЛОГОТИП (вже ідеальний) */
.book-brand img {
    height: 70px !important;
    width: auto !important;
}

/* ФОТО У ПУБЛІКАЦІЯХ */
.float-right {
    float: right;
    width: 200px;
    margin-left: 20px;
}
