{{ $atlas := index site.Data.atlas "afghanistan-stolen-subjectivity" }}

{{ with $atlas }}

<table class="atlas-contents">
    <thead>
        <tr>
            <th style="width:8%;">№</th>
            <th style="width:28%;">Atlas Map</th>
            <th>Purpose</th>
        </tr>
    </thead>
    <tbody>
        {{ range .maps }}
        <tr>
            <td>{{ .order }}</td>
            <td>
                <a href="{{ .id }}/">{{ .title }}</a>
            </td>
            <td>{{ .purpose }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}