{{ $atlas := index site.Data.atlas "afghanistan-stolen-subjectivity" }}

{{ with $atlas }}

<h2>{{ i18n "atlasContents" }}</h2>

<table class="atlas-contents">
    <thead>
        <tr>
            <th style="width:8%;">{{ i18n "atlasColumnNumber" }}</th>
            <th style="width:28%;">{{ i18n "atlasColumnMap" }}</th>
            <th>{{ i18n "atlasColumnPurpose" }}</th>
        </tr>
    </thead>

    <tbody>
    {{ range .maps }}
        <tr>
            <td>{{ .order }}</td>

            <td>
                <a href="{{ .id }}/">
                    {{ i18n (printf "atlas-map-%s" .id) }}
                </a>
            </td>

            <td>
                {{ i18n (printf "atlas-purpose-%s" .id) }}
            </td>
        </tr>
    {{ end }}
    </tbody>

</table>

{{ end }}